<div class="content">
    <h1>Log in or Sign up my ass</h1>
    <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput placeholder="rick@iki.com" [formControl]="email" required>
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type="password" [formControl]="password" required>
        <mat-hint>
            <button mat-button (click)="authService.forgotPassword(email.value)">
                Forgot password?
            </button>
        </mat-hint>
    </mat-form-field>
    <div class="action-btns">
        <button mat-raised-button color="primary" (click)="signIn()">Log in</button>
        <button mat-stroked-button color="primary" (click)="signUp()">Sign up</button>
        <button class="google-signin" (click)="authService.googleAuth()">
            <img src="https://rikiki.s3.eu-west-2.amazonaws.com/assets/google-icon.svg" alt="log-in-with-google">
            <span>Sign in with Google</span>
        </button>
    </div>
</div>