:host {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.content {
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // background: red;
    text-align: center;
    .action-btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > * { width: 40%; }
    }
    mat-hint > button {
        padding: 0;
    }
}