<div class="welcome">
    <h1>{{ currentTexts.title }}</h1>
    <h3>{{ currentTexts.subtitle }}</h3>
    <div class="login" (click)="content.scrollIntoView(true)">
        <span>Log in / Sign up</span>
        <mat-icon>expand_more</mat-icon>
    </div>
</div>
<div class="content" #content>
    <ng-content></ng-content>
</div>
<div class="bg">
    <!-- for floating cards place optimized svgs here and animate them -->
    <!-- <img src="https://rikiki.s3.eu-west-2.amazonaws.com/assets/sample_1.svg" alt="floating card"> -->
</div>
<div class="lang">
    <button mat-fab color="primary" 
        aria-label="change language"
        matTooltip="Change language"
        matTooltipPosition="left"
        matTooltipHideDelay="1000"
        (click)="openLangPref()">
        <mat-icon>flag</mat-icon>
    </button>
</div>